<div class="row">
    <div ng-if="errormessage">
        <p class="text-center bg-danger">{{errormessage}}</p>
    </div>
    <div ng-if="statusmessage">
        <p class="text-center bg-info">{{statusmessage}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div ng-if="prefix"><h5><label>Current Bucket:</label> {{bucket}}, <label>Current Prefix:</label> {{prefix}}</h5></div>
                <div ng-if="!prefix"><h5><label>Current Bucket:</label> {{bucket}}</h5></div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4>Folders</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="40%">Folder Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in objectListing.commonPrefixes">
                            <td><a ui-sref="listbucket({bucket: bucket, prefix: item})">{{item}}</a></td>
                        </tr>
                        <tr ng-if="objectListing.commonPrefixes.length == 0">
                            <td><p class="text-center">No sub-folders in this folder!</p></td>
                        </tr>
                        <tr ng-if="!listLoaded">
                            <td><p class="text-center">Loading...</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4>Items</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="30%">Name</th>
                            <th width="20%">Owner</th>
                            <th width="20%">Last Modified</th>
                            <th width="20%">Size</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in objectListing.objectSummaries">
                            <td>{{item.key}}</td>
                            <td>{{item.owner.displayName}}</td>
                            <td>{{item.lastModified | date : 'medium'  }}</td>
                            <td>{{item.size}}</td>
                        </tr>
                        <tr ng-if="objectListing.objectSummaries.length == 0">
                            <td colspan="4"><p class="text-center">No files in this folder!</p></td>
                        </tr>
                        <tr ng-if="!listLoaded">
                            <td colspan="4"><p class="text-center">Loading...</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
